@charset "utf-8";


/***********************************
		REFERENCES
font-sizes
6.854rem
4.236rem
2.618rem
1.618rem
1rem
0.618rem

font-families
Droid Serif, Droid Sans

colors
#000000
#222222
#333333
#D4D4D4
#CC3300
#BADA55
#FFFFFF
plus the shadow for the text


***********************************/

*{
	padding:0px;
	margin: 0px;
}

/***********************************
		DEFAULTS
***********************************/
body{
	background-color: #222;
    margin: 0 auto;
    padding-left: 8px;
    line-height: 1.8;
}
h1, h2, h3, h4{
	font-family:serif,Droid serif,Droid Sans;/* you need a font stack here */
}
h1{
    color:#FFFFFF;
    font-size: 6.854rem;
    padding:0px 35%;
   
    height: 300px;
    line-height: 1.1;
	
}
h2{
    color:#CC3300;
    font-size: 4.236rem;
    text-shadow: 3px 2px 4px 
        rgba(1,0,0,1);
	
}
h3{
    color:#CC3300;
    font-size: 2.618rem;
    text-shadow: 3px 2px 4px 
        rgba(1,0,0,1);
	
}
h4{
	
}
p, li, a{
	font-family: sans-serif; /* you need a font stack here */
}

p{
    padding-top: 25px;
    /*line-height: 15px;*/
}
img{
	width:95%;
	max-width: 100%;
	box-sizing: border-box;
}
ul{
	list-style-type: none;
}
a:link, a:visited{
	transition: all 0.8s linear;
}
a:hover, a:active, a:focus{
	text-decoration: none;
}

/***********************************
		LAYOUT
***********************************/
.wrapper{
	width:95%;
	max-width: 1020px;
	min-width: 400px;
	margin:0 auto 2.0rem;
	background-color: #d4d4d4;
}
.header{
	background-color: #000;
    min-height: 370px;
    display:block;
    background-image:
        url(file:///Users/zl/Documents/mad9013/mad9013%20ass3/moon-assign/img/moon-header.jpg);
    background-repeat: no-repeat;
    background-position: top right;
}
.main{
    padding: 2px;
	
}
.footer{
	width:100%;
    background-color: #333333;
}

/***********************************
		LINKS 
-for any that are different than the default
***********************************/

.footer a:link{
}
.footer a:visited{
    color:red;
}
.footer a:hover,
.footer a:active,
.footer a:focus{
    transition: all 0.8s linear;
    color:white;

}


/***********************************
		CONTENT
***********************************/
.header h1{
    
}
.main h2{
	
}
.main h3{
	
}
.main p{
	
}
.main img{
	/* use border-radius to crop image */
	/* choose a width percentage for the image too */
    width:150px;
    height:150px;
    border-radius: 30%
}
.left{
	float:left;
	margin-right:10px;
	margin-bottom: 10px;
}
.footer p{
    padding-top:175px;
    margin-left:400px;
}
.footer li{
    /* make these 50% the width of the footer */
    width:30%;
    float:left;
    margin-left:20%;
    

}
